<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['Posts']">Collection Of Posts</a>
                </li>
                <li>
                    <a [routerLink]="['Chart']">Ad-Chart</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>