<div class="panel panel-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="padding: 5px">
                <form>
                    <div class="form-group">
                        <label for="date">From Date: (yyyy-mm-dd)</label>
                        <input type="text" class="form-control" id="date" [(ngModel)]="fromDate">
                    </div>
                    <div class="form-group">
                        <label for="dateTwo">To Date: (yyyy-mm-dd)</label>
                        <input type="text" class="form-control" id="dateTwo" [(ngModel)]="toDate">
                    </div>
                    <button type="submit" class="btn btn-warning" (click)="plotData()">Submit</button>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="table-responsive">
                    <table class="table" *ngIf="dataPoints && dataPoints.length">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Hits</th>
                            <th>date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="#point of dataPoints">
                            <td>{{point.id}}</td>
                            <td>{{point.hits}}</td>
                            <td>{{point.date}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


