<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input [(ngModel)]="listFilter" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="postsCollection && postsCollection.length">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#post of postsCollection | postFilter:listFilter">
                    <td>
                        <a [routerLink]="['PostDetail', {id: post.id}]">
                            {{post.id}}
                        </a>
                    </td>
                    <td>{{post.title}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>