<div class="panel panel-primary" *ngIf='post'>
    <div class="panel-heading">
        {{pageTitle + ': ' + post.title | capitalize}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>User Id:</div>
                    <div class='col-md-6'>{{post.userId}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Post Id:</div>
                    <div class='col-md-6'>{{post.id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Title:</div>
                    <div class='col-md-6'>{{post.title}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Content:</div>
                    <div class='col-md-9'>{{post.body}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="goBack()" style="width:80px">
            <i class="glyphicon glypicon-chevron-left"></i> Back
        </a>
    </div>
</div>