<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">

        </div>
        <div class="row">
            <div class="text-center">Angular 2 Project</div>
            <div class="text-center">

            </div>
        </div>
    </div>
</div>